body{
  width:100%;
  height: 200vh;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main{
display: flex;
justify-content: center;
flex-wrap: wrap;
backdrop-filter: blur(3px);

}

.bg-text{
  color:whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(2px);
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid burlywood;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.modal-overlay{
  position: fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.modal-content{
  background-color: whitesmoke;
  border: 5px solid wheat;
  width: 30%;
}
.modal-content>p{
  text-align: center;
}
/* .modal-content>button{
  display:flex;
  justify-content: end;
}
.modal-button{

} */
.table{
  width:70%;
  font-size: 1rem;
  margin: 3rem auto;
  padding: 2rem;
}
.park_Page{
  width: 100%;
  padding:2rem;
  backdrop-filter: blur(3px);
  padding: 2rem;
  margin: 2rem;
}
.top-container{
  width:100%;
  display: flex;
  border: 2px solid white;

}
.box{
  display: flex;
  /* justify-content: center;
  flex-basis: 80%; */
  margin: auto;
  width: 100%;
  align-items: center;
}
.contentBox{
  font-size: 1.2rem;
  font-family: 'Lato';
  margin-left: 5px;
}
.weatherContainer{
 flex-basis: 20%;
}
.weather{
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  box-shadow: 0px 1px 10px 0px #cfcfcf;
  color: black;
  background-color: tan;
  padding: 10px;
  margin: 0 auto;
  width:80%;
 }

.temp
 {
  font-size: 30px;
  }
/* .top-container{
  display: flex;
  width: 100%;
} */
h3{
  font-family: 'Lato';
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}
.parkImage{
  height:250px;
  width: 400px;

  border-radius: 2%;
  text-align: center;
}
/* .imgbox{
  display: flex;
  justify-content: center;
} */
.activities{
  margin-top: 0.8rem;
}

.table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 16px;
  color:black;
  font-family: 'Lato', sans-serif;
  background-color: wheat;
}

thead, tbody{
  width:100%;
  justify-content: center;
}
@font-face {
    font-family: 'orkneylight';
    src: url('fonts/orkney_light-webfont.woff') format('woff'),
         url('fonts/orkney_light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

.weather_table{
padding:5rem;
}

.cardSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.card-img {
  width: 600px;
  height: 300px;
}
.card{
  margin: 3px;
  cursor: pointer;
  color:whitesmoke;
  border: none;
}
/* .sevendaytable{
  display: grid;
} */
.display{
  display: none;
}
