
body{
width:1250px;
height: 97vh;
margin: auto;
font-family: 'pine_forestpersonal_use';
font-size:15px;
background-color:#e9c46a ;
/* display: flex; */
}
.main{
  width:100%;
  height: 100vh;
  margin: 0 auto;
  color:#173f5f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input{
  font-family: 'swistblnk_monthoersregular';
  color:#333;
  font-size: 1.5rem;
  margin: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255,255,255);
  border: none;
  width:48%;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.searchButton{
text-align: center;

}
.table{
  width:100%;
  font-size: 2rem;
  margin: 3rem auto;
  /* border: 5px solid black; */
  padding: 2rem;
}
/* tr{
  padding:2rem;
} */
.park_Page{
  width: 100%;
  font-size: 2rem;
}
.city{
  border:10px solid #264653;
  border-radius: 15px;
  padding: 1.5rem;

}
h3{
  font-family: 'swistblnk_monthoersregular';
  font-weight: bold;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
}
.campingLogoImg{
width:200px;
height:200px;
border-radius: 50%;

}
.parkImg{
  width: 300px;
  height: 200px;
  border-radius: 30px;
  padding:1rem;
}

.display{
  display: none;
}
table{
text-align: center;
margin-top: 16px;
color:#173f5f;

}
@font-face {
    font-family: 'campground_free_demoregular';
    src: url('fonts/campgroundfreedemo-regular-webfont.woff') format('woff2'),
         url('fonts/campgroundfreedemo-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pine_forestpersonal_use';
    src: url('fonts/pine_forest_personal_use_only-webfont.woff') format('woff2'),
         url('fonts/pine_forest_personal_use_only-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'swistblnk_monthoersregular';
    src: url('fonts/monthoers-webfont.woff') format('woff2'),
         url('fonts/monthoers-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}
button{
  background-color:#2a9d8f;
  font-family: 'pine_forestpersonal_use';
  text-align:center;
  font-size: 1.5rem;
  padding:1.5rem;
  border-radius: 50%;
  justify-content: center;
  cursor:pointer;
}
.weather_table{
padding:5rem;
}
