body{
  width:100%;
  /* background-color:#5c702f; */
  background-color:rgb(199, 201, 199);
  font-family: 'Lato';
}

input{
  width:auto;
}

.section1{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/forest-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.section1 h2{
font-size: 3.5rem;
}
.bg-text{
  color: rgb(247,241,218);
  text-shadow: -2px 4px 0 burlywood;
  /* color:whitesmoke; */
  /* font-family: 'Lato'; */
  text-align: center;
  flex-direction: column;
}

.loaderPart {
  display:flex;
  justify-content: center;
}
.loader{
 border: 8px solid #f3f3f3;
  border-top: 8px solid burlywood;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 70%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.modal-overlay{
  position: fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.modal-content{
  background-color: whitesmoke;
  border: 5px solid wheat;
  width: auto;
  margin: auto;
  padding:1rem;

}
.modal-content>p{
  text-align: center;
  margin-top: 10px;
}
.modal-content>button{
align-self: center;
margin-bottom: 10px;

}
.cardSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2rem;
}

.cardImage {
  height: 10rem;
}
.card-text{
  text-align: center;
}
.card{
  margin: 3px;
  cursor: pointer;
  border: none;
  background-color: rgb(245, 239, 239);
}
.card:hover{
  transform: scale(1.1) ;
}
.rowDiv{
  display: flex;
  flex-direction: column;
}
.rowDiv2{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.parkPage{
  background-color:rgb(247,241,218);
  /* opacity: 0.6; */
  /* margin: 5rem; */
}
.top-container{
  width:100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

}

.contentBox{
  font-size: 1.2rem;
  font-family: 'Lato';
  margin:0.5rem;
  align-self: center;
}

.weather{
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  box-shadow: 0px 1px 10px 0px #cfcfcf;
  color: black;
  background-color: #c4b497;
  padding: 10px;
  margin: auto;
  text-align: center;
  flex-basis: 30%;
 }
.imgbox{
  margin: auto;
}
.temp{
  font-size: 30px;
  }

h3{
  font-family: 'Lato';
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
}
.parkImage{
  /* width: 40rem; */
  max-width: 100% ;
  height: 20rem;
  border-radius: 2%;
}

li{
  margin-top: 0.8rem;
  font-size: 1.2rem;
  font-family: 'Lato';
}

.table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 16px;
  color:black;
  font-family: 'Lato', sans-serif;
  background-color:#c4b497;
  box-shadow: 0px 1px 10px 0px #cfcfcf;
}

@font-face {
    font-family: 'orkneylight';
    src: url('fonts/orkney_light-webfont.woff') format('woff'),
         url('fonts/orkney_light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
.sevenDayTableError{
  border: solid 2px tan;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.weather_table{
padding:5rem;
}
.error{
  text-align: center;
  padding-top: 1rem;
}
.display{
  display: none;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .parkImage{
      height:18rem;
    }
    h5{
      font-size: 0.5rem;
    }
    h3{
      font-size: 1.5rem;
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    h5{
      font-size: 0.5rem;
    }
    h3{
      font-size: 1.5rem;
    }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

    h5{
      font-size: 0.8rem;
    }
    h3{
      font-size: 1.8rem;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

    h5{
      font-size: 0.8rem;
    }
    h3{
      font-size: 1.8rem;
    }
}
